*::-webkit-scrollbar {
  width: 6px;
  height: 10px;
}

*::-webkit-scrollbar-thumb {
  @apply rounded transition-colors;
}

*::-webkit-scrollbar-thumb:hover {
  background: rgb(var(--primary));
}

*::-webkit-scrollbar-track {
  background: #f0f0f0;
}
